@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
<center>
        <h1>Add a new order to @Model.getVendorName()</h1>
         <form action="/vendors/@Model.Id/orders" method="post"><br>
        @* This is vendor's id *@
        <input id="vendorId" name="vendorId" type="hidden" value='@Model.Id'>
        @* Fill out Order title. *@
        <label for="givenOrderTitle">Please Enter Order Title: </label>
        <input id="givenOrderTitle" name="givenOrderTitle" type="text"><br>
        @* Fill out Order description. *@
        <label for="givenOrderDescription">Please Enter Order Description: </label>
        <input id="givenOrderDescription" name="givenOrderDescription" type="text"><br>
        @* Fill out Order Price . *@
        @* <label for="vId">Please Enter Order Price: </label>
        <input id="vId" name="givenOrderPrice" type="text"><br>
        @* Fill out Vendor Address. *@
        @* <label for="vId">Please Enter Date of Order: </label>
        <input id="vId" name="givenOrderDate" type="date"><br> *@ 
        <button type="submit">Submit Order</button>
        </form>
  </center>