@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
@using PierrsBakery.Controllers;

        <h1>Orders with Details: </h1>

    <h2>@Model["order"].getDescription()</h2>
    <h3>Vendor: @Model["vendor"].getVendorName()</h3>

    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
    <a href='/vendors'>View all vendors</a>
    @* <h1>Find the Item by ID!</h1>

    @Model.toString()   
    <p><a href="/">Back to places Home.</a></p> *@
