@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
<center>
<h3>Vendor has been removed!</h3>
<p><a href="/vendors">Back to vendor's list.</a></p>
<p><a href="/">Back to Home page.</a></p>
</center>