  @{
  Layout = "_Layout";
  }
  @using PierrsBakery.Models;
  @model PierrsBakery.Models.Vendor;
  <center>
    <h3>Create a Vendor</h3>
     @using (Html.BeginForm())
    {
      <h3>Please  Enter  Name:        @Html.TextBoxFor(model => model.VendorName)</h3>
      <h3>Please  Enter  Description: @Html.TextBoxFor(model => model.VendorDescription)</h3>
      <h3>Please  Enter  Phone number @Html.TextBoxFor(model => model.VendorPhone)</h3>
      <h3>Please  Enter  Zip code:    @Html.TextBoxFor(model => model.VendorZip, new { type = "number", min = "0", step = "0.01" })</h3>
      <input type="submit" value="Add new vendor" />
    }

    <p><a href="/">Back home</a></p>
    <p><a href='/vendors'>See a list of vendors</a></p>
    </center>



















     