@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
@using PierrsBakery.Controllers;

<h3>Here are all the orders of the Vendor:</h3>

    <ol>
      @foreach (var order in @Model["orderKey"])
      {
        <h3><a href='/vendors/@Model["vendorKey"].Id/orders/@order.Id'>@order.getTitle()</a></h3>
      }
    </ol>
    <br>
    <br>
    <br>
    <hr/>
    <p><a href='/vendors/@Model["vendorKey"].Id/orders/new'>Add a new order</a></p>
    <p><a href='/vendors'>Return to vendor list</a></p>
    <p><a href='/'>Return to Main Page</a></p>
    