@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
<center>
<h1>Welcome Pierr's Bakery.</h1>
<br>
 <br>
 <br>
 <hr/>
 <br>
<h3>@Html.ActionLink("See List of Vendors", "Index","Vendors")</h3>
<h3>@Html.ActionLink("See List of Orders", "Index", "Orders")</h3>
<h3><a href='/vendors/new'>Add Vendor for my List</a><br></h3>
</center>
   