@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
<center>
<h1>Welcome Pierr's Bakery.</h1>
<a href='/vendors/new'>Add Vendor for my List</a><br>
<a href='/vendors'>See a list of vendors</a>
</center>
   